<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
	<!-- 
		<listener
			class-name="cn.AnndyTsal.PO.PO_simplify.Listener.shotScreen.shotScreenListener" />
		<listener
			class-name="cn.AnndyTsal.PO.PO_simplify.Listener.Report.ExtentTestNGIReporterListener" />
	 -->
		<listener class-name="cn.AnndyTsal.PO.PO_simplify.Listener.Report.ExtentXReport.ExtentTestNGITestListener"/>
	</listeners>
	<test thread-count="1" name="Test">
		<classes>
			<class name="cn.AnndyTsal.PO.PO_simplify.Case.HomeTestCase1">
				<methods>
					<include name="loginCase"></include>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
